
// wrapper of the main page
[data-reactid=".0"] {
  height: 100% !important;
}

.home-page {
  padding-top: 200px;
  text-align: center !important;
  height: 100% !important; 
  background: url("/images/home.jpg")  no-repeat center center fixed;
  background-size: cover;
  color: white;

  .container {
    max-width: 600px;
  }

  h1, p {
    color: white;
    text-shadow: 0 0 10px $dark-brown;
  }

  p {
    font-size: 3rem;
  }

  h1 {
    margin: 0 0 40px 0;
    font-size: 4rem;
  }

  a.btn.btn-primary.btn-lg {
    background: $blue;
    color: white;
    border: none;
    box-shadow: 0 0 100px white;
  }
}

